body {
    background: lightgray;
    text-align: center;
    font-family: 'Tektur', cursive;
}

header {
    margin: 25px;
    display: flex;
    justify-content: space-around;
}


/* colour container style  */

.total__col--cont {

    display: flex;
    justify-content: center;
}


/* colour box style  */

.color_box-contianer {
    min-width: 18%;
    min-height: 90vh;

  
    margin: 5px;
}

/* the color section */

.colour {
    background: red;
    min-width: 15%;
    min-height: 70%;
}

/* hex color section */

.colour__hex {
   text-align: center;
   padding-top: 10px;
   padding-bottom: 10px;
   margin-top: 5px;
   display: block;
   border: 2px solid grey;
   border-radius: 10px;
}
